h3 {
    color: #fff;
    font-family: 'Defago Noto Sans';
}

h2 {
    color: #1DB57C;
}

.mid-title-about {
    margin: 15px 0px;
}

.mid-about {
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}



.avatar-container {
    /* border: 1px solid red; */
    max-width: 200px;
}

.avatar {
    width: 100%;
}

.main-about {
    padding-bottom: 100px;
}